.intro{
  margin-top: 15px;
}
#ruby, #csharp, #css, #any{
  display: none;
}

#background{
  background-image: url("../img/codebg.jpg");
  background-attachment: fixed;
}

h4{
  font-weight: bold;
}

hr{
  border: 2px blue;

}
