.intro{
  margin-top: 15px;
}
#ruby, #csharp, #css, #any{
  display: none;
}
#epicodus-picture{
  width:15%;
  margin:10px;
}

#background{
  background-image: url("../img/codebg.jpg");
  background-attachment: fixed;
}
.jumbotron, button, .well{
  background-color: #fff4d6;
}
.jumbotron{
  margin-top: 3%
}

h4{
  font-weight: bold;
}
.icon{
  width:70px;
  display: inline-block;
  float: right;
}

hr{
  border: 2px solid #e8d5a7;
  width: 40%

}
